html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(41, 41, 146, 0.713);
  line-height: 5;
  font-size: 1vw;
}

img {
  width: 20vw;
  height: auto;
  margin: 2px auto;
  display: block;
}

ol,
ul {
  line-height: 1;
}

ol {
  color: pink;
  background-color: aliceblue;
  list-style: outside;
  display: inline-block;
}

ul {
  color: aliceblue;
  background-color: pink;
  list-style: inside;
}
