html {
  box-sizing: border-box;
}

* {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div.container {
  display: flex;
  justify-content: center;
}

div.list {
  list-style-position: inside;
}
